@primary-color: #3399ff;
@secondary-color: #66ccff;
@ternary-color: #99ccff;

body {
    padding: 0px;
    margin: 0px;
    font-family: sans-serif;
}

.banner-basic {
    padding: 1em;
    margin: 0px;
    background-color: @primary-color;
    color: white;
};