.page {
  background-color: #e6f2ff;
  padding: 0px;
  margin: 0px;
  font-family: sans-serif;
}
.banner-basic {
  padding: 1em;
  text-align: center;
  margin: 0px;
  background-color: #5460a5;
  color: white;
}
.banner-basic h2 {
  padding: 1em;
}
.banner-basic p {
  padding: 2em;
}
.banner-image {
  padding: 1em;
  text-align: center;
  margin: 0px;
  background-size: cover;
  color: white;
}
.banner-image h2 {
  padding: 1em;
  background-color: rgba(0, 0, 0, 0.5);
}
.banner-image p {
  padding: 2em;
}
.carusel-basic {
  background-color: white;
  margin: 2em;
  border-radius: 5px;
}
.carusel-basic h2 {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  background-color: #5460a5;
  color: white;
  margin: 0em;
  padding: 0em;
  text-align: center;
}
.carusel-basic p {
  padding: 1em;
  text-align: justify;
}
